body {
  width: 30%;
  /*background-color: lightgrey;*/
}

h1 {
  text-align: center;
  color: darkred;
  font-family: sans-serif, arial, helvetica;
}

p {
}

div {
  border: 2px darkred solid;
}

.txt {
  font-family: sans-serif, arial, helvetica;
  color: darkred;
}

li {
  font-size: 0.9em;
}

#nvxContact {
  background-color: darkred;
  color: white;
  margin-top: 30px;
}

p {
  text-align: center;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}
